// Basic app styles

body {

  &.chat-page, &.search-page {
    background: #e8e8e8;
  }
}

img {
  &.profile-image {
    position: relative;
    top: -24px;
    left: -10px;
    height: 40px;
    vertical-align: middle;
    margin-bottom: -45px;
  }
}

div{
  .no-messages {
    margin: 50px 0;
  }
}


.searching button {
  display: none;
}

.delete-message-btn, .edit-message-btn {
  border: 0;
  color: #01698c;
}